body{
    /* display:flex;
    justify-content: center;
    height: 90vh;
    background-color: #7e3c48;
    font-family: Arial, Helvetica, sans-serif;
    color: #7e3c48; */
} 

form {
   align-items: center;
}


.form-container {
    /* background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem; */
    /* width:fit-content; */
  
}

input {
    background-color: #eed7e6;
    border-style: none;
    border-radius: 2px;
}

textarea {
    background-color: #eed7e6;
    border-style: none;
    border-radius: 2px;

}