* {
  margin: 0;
  padding: 0;
  color: black;
}
/* first time using this */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.nav-bar {
  padding: 1rem 4rem 2rem;
}

.nav-bar:hover {
  cursor: pointer;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* sections */

section h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 900;
  color: rgb(0, 0, 0);
  background-color: rgb(250, 248, 248);
  box-shadow: rgba(104, 104, 104, 0.217) 0px 19px 38px, rgb(255, 253, 253) 0px 15px 12px;
}

p {
  padding: 1.5rem 4rem;
  line-height: 1.6;
  text-align: justify;
}

.main-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 25rem 25rem 25rem 30rem;
  overflow: scroll;
}

section {
  position: relative;
  overflow: scroll;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}


#section1 {
  grid-row: 1/2;

  .example-image {
    max-width: 50%;
    margin: auto;
    display: flex;
    
  }

  .figcaptionimg {
    text-align: center;
  
  }
}

#section2 {
  grid-row: 2/3;

.section2-lists {
    display: flex;
    justify-content: space-around;
  }
  
  .section2-lists h3 {
    padding-bottom: 1rem;
  }
  
  .s2olist ol {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .s2ulist ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}


#section3 {
  grid-row: 3/4;
  
  .form-container-s3 {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    width: fit-content;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form label {
    padding: 0.5rem;
    text-align: center;
  }

  form input {
    justify-items: center;
    height: 2rem;
    border: 0.5px solid black;
  }

  form textarea {
    border: 0.5px solid black;
  }
}

#section4 {
  grid-row: 4/5;

  /* couldnt style table properly :( */

  table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

  }

  caption {
    font-size: 1.5rem;
    margin-bottom: 1rem;
   
  }
  tr {
    align-items: center;
    padding: 0rem 1rem;
  }
  th, td {
    text-align: center;
    padding: 1rem;
    border: 0.5px solid black;
    text-align: center;
  }

}



@media (min-width: 1024px) and (max-width: 1440px) {
  html {
    scroll-padding-top: 105px;
  }

  .main-container {
    grid-template-rows: 32rem 32rem 32rem 32rem;
  }

  p {
    padding: 1.8rem 13rem;
  }

  .nav-bar {
    padding: 1rem 13rem;
  }
  section h2 {
    padding: 2rem;
  }
}
